/* TagSuccess.css */
@keyframes pulse {
    0% {
      transform: scale(3);
      opacity: 0.6;
    }
    100% {
      transform: scale(15);
      opacity: 0;
    }
}

.pulse-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #000; /* 배경색 */
}

.pulse {
    position: absolute;
    background-color: #6ecff54e; /* 파동 색상 변경 */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: pulse 4s infinite ease-out;
    filter: blur(8px);
}
